# Ignore folders
.ipynb_checkpoints/
Notes/
Feedback/

# Ignore certain files
Marco_Wong_Capstone_Sprint2.zip
Marco_Wong_Capstone_Sprint3.zip
Marco_Wong_Capstone_Sprint1.zip
Sprint0MarcoWong20231102.pdf
